<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/common.css">
    <title>Extra Lessons Application/ Robotics class</title>
</head>
<body>
<nav>
    <ul class="nav-list">
        <li><a class="nav-link" href="index.html"><img src="../static/images/Robot1.jpg" alt="Home" class="nav-picture"></a></li>
        <li><a class="nav-link" href="index.html">Home</a></li>
        <li><a class="nav-link" href="contact.html">Contact Us</a></li>
        <li><a class="nav-link" href="login.html">Login</a></li>
    </ul>
</nav>

<main>
    <header id="titleContainer">
        <h1>Welcome to Robotics Extra Lessons</h1>
        <p>Learn robotics, programming, and build your own robots!</p>
    </header>

    <section id="introSection" class="flex-container">
        <div id="description" class="flex-item">
            <p>
                Join our after-school robotics program to explore the exciting world
                of technology and innovation. Suitable for ages 8 to 16.
            </p>
            <ul>
                <li><a href="contact.html">Sign up now!</a></li>
                <li><a href="login.html">Member login</a></li>
            </ul>
        </div>
        <div id="imageDiv" class="flex-item">
            <img src="../static/images/RobotModel.jpg" alt="RobotModel" />
        </div>
    </section>

    <section id="products-section">
        <table class="products-table">
            <thead>
            <tr>
                <th colspan="3">Robotics Projects Gallery</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="../static/images/RoboticsClass1.jpg" alt="RoboticsClass1" /></td>
                <td><img src="../static/images/RoboticsClass2.jpg" alt="RoboticsClass2" /></td>
                <td><img src="../static/images/RoboticsClass3.jpg" alt="RoboticsClass3" /></td>
            </tr>
            <tr>
                <td><img src="../static/images/RoboticsClass4.jpg" alt="RoboticsClass4" /></td>
                <td><img src="../static/images/RoboticsClass5.jpg" alt="RoboticsClass5" /></td>
                <td><img src="../static/images/RoboticsClass6.jpg" alt="RoboticsClass6" /></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer>
    <p>Contact us: robotics@extra-lessons.com | Phone: 123-456-7890</p>
</footer>
</body>
</html>